body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
html{
    scroll-behavior:smooth;
}
.navbar{
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* height: 100px; */
    
}
.section1{
    background-image:url(https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGVkdWNhdGlvbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    margin-top: -100px;
    padding-top: 200px;
    
}
.join-us-btn{
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    margin-bottom: 20px;
}
.join-us-btn:hover{
    background-color: deepskyblue;
    border: none;
}
.item{
    background-image: url(../images/service-item-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  padding: 40px;
}
.item .icon{
    max-width: 60px;
  margin: 0 auto;
}
.owl-prev{
    left: -20px;
}
.owl-next{
    right: -10px;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 90px;
    
}
.owl-prev span, .owl-next span{
    font-size: 4rem;
    color: black;

}
/* .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #1e1e1e;
  font-size: 25px;
  font-weight: 700;
  content: '\f404';
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
} */
.section2{
    background-image: url(../images/meetings-bg.jpg);
    padding-top: 60px;
}
.section2 a{
    text-decoration: none;
    color: black;
    padding-bottom: 30px;
}
.upcoming-event{
    margin-bottom: 30px;
}
.event-cat-list{
    list-style: none;
}
a:hover{
    color: orangered;
}
.upcoming-btn{
    border-radius: 50px;
    margin-left: 65px; 
    margin-bottom: 40px;
    margin-top: 20px;
}
.upcoming-btn:hover{
    background-color: deepskyblue;
    border: none;
}
.card{
    border-radius: 20px;
    border: none;
}
.card img{
    
    border-radius: 10px;
}
.remedials-card{
    margin-top: 20px;
}
.online-teaching-card{
    margin-top: 20px;
}
.novdec-reg-card{
    margin-bottom: 20px;
}
.date-of-event{
    color: orangered;
}
.wasse-remedials{
    margin-top: 40px;
}
.online-teaching{
    margin-top: 40px;
}
.novdec-reg{
    margin-top: 40px;
}
.bachelor-scholarship{
    margin-top: 40px;
}
.section3{
    background: url(../images/apply-bg.jpg);
    padding-top: 100px;
}
.abroad-card{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
    
}
.abroad-heading{
    margin-top: 20px;
}
.local-card{
     background-color: rgba(0, 0, 0, 0.3);
     padding-bottom: 15px;
     margin-bottom: 10px;
}
.local-heading{
     margin-top: 20px;
}
.apply-now-btn{
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
}
.apply-now-btn:hover{
    background-color: deepskyblue;
    border: none;
    
}
.about-card{
    margin-top: auto;
    margin-bottom: 20px;
}
.section4{
    background-image: url(../images/meetings-page-bg.jpg);
}
.owl-carousel2 .owl-prev{
    left: -20px;
}
.owl-carousel2 .owl-next{
    right: -10px;
}
.owl-carousel2 .owl-prev,.owl-carousel2 .owl-next{
    position: absolute;
    top: 90px;
    
}
.owl-carousel2 .owl-prev span,.owl-carousel2 .owl-next span{
    font-size: 4rem;
    color: black;

}
.section5{
    background-image: url(https://images.unsplash.com/photo-1604517087228-4c456fa2b4c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDQzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    padding-bottom: 30px;
}
.facts-container{
    padding-top: 60px;
    padding-bottom: 40px;
}
.facts-heading{
    padding-bottom: 30px;
}
.facts-row{
    background-color: rgba(204, 240, 237, 0.986);
    padding-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 30px;
}
.facebook-subscribers{
    font-size: 3rem;
    color: #39569c;
}
.twitter-followers{
    font-size: 3rem;
    color: #1DA1F2;
}
.youtube-subscribers{
    font-size: 3rem;
    color: #FF0000;
}
.instagram-followers{
    font-size: 3rem;
    /* color:rgb(288, 64, 95) */
    color: #E4405F;
}
.awards{
    font-size: 3rem;
    color:crimson
}
.successful-students{
    font-size: 3rem;
    color:cadetblue
}
.current-students{
    font-size: 3rem;
    color: darksalmon;
}
.years-service{
    font-size: 3rem;
    color: darkorchid;
}
.facts-line{
    margin-bottom: 100px;
}
.about-row{
    background-color: rgba(204, 240, 237, 0.986);
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}
.about-row li{
    list-style:disc;
}
.message-col{
    background-color: wheat;
    border-radius: 10px;
    padding-bottom: 60px;
    margin-top: 20px;
}
.input-col{
    margin-top: 30px;
}
.field{
    border: none;
    border-radius: 5px;
}
.message-row{
    margin-top: 50px;
}
.send-msg-btn{
    margin-top: 10px;
}
.send-btn:hover{
    background-color: deepskyblue;
    border: none;
}
.cont-us{
    background-color: darkred;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}
.contact-email{
    color: white;
    
}
.contact-email:hover{
    color: #1DA1F2;
}
.footer-icon{
    font-size: 2rem;
}
.footer{
    margin-top: 40px;
}
.line{
    margin-top: 20px;
}
@media only screen and (max-width: 600px){
    .section1{
        padding-left: 20px;
        padding-right: 20px;
    }
}